
<% @module_name = "ಕ್ಷೇತ್ರ ನಿರ್ವಹಣೆ" %>  
  <div class="content">
    <div class="row d-flex">
      <div class="col float-right">
        <%= link_to 'ಹೊಸ ಕ್ಷೇತ್ರ', new_district_path, class: "btn btn-md btn-primary" if current_user.admin? %>
      </div>
    </div>
    <hr />
    <div class="table-responsive">
      <table class="table table-striped">
        <% @districts.each do |district| %>
        <thead>
          <th>
            <%= district.rgnl_name %>
          </th>
          <th>
            <div class="d-flex" role="group">
              <%= link_to 'ವಿವರ ತೋರಿಸು', district, class: "btn btn-sm btn-info m-1" %>
              <%= link_to 'ಎಡಿಟ್', edit_district_path(district), class: "btn btn-sm btn-primary m-1" %>
            </div>
          </th>
        </thead>
      </table>
    </div>
    <div class="row">
      <% taluks = current_user.admin? ? district.taluks : district.taluks.external %>
      <% taluks.each do |t| %>
      <ul class="col-md-4 col-sm-12 col-xs-12 list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h4>
            <%= t.rgnl_name %>
          </h4>
          <span class="btn btn-disabled btn-info btn-sm">
            <%= t.places.count %></span>
        </li>
        <% t.panchayats.each_with_index do |p, ix| %>
        <%= link_to panchayat_details_district_path(p), class: "list-group-item d-flex justify-content-between align-items-center" do %>
        <%= ix +1 %>.
        <%= p.rgnl_name %>
        <span class="badge badge-primary badge-pill">
          <%= p.places.count %></span>
        <% end %>
        <% end %>
      </ul>
      <% end %>
    </div>
    <% end %>
  </div>