<div class="container">
  <%= simple_nested_form_for(@development_work) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= render "shared/places_suggest", f: f %>
    <%= f.association :valid_type, label: "ಕಾಮಗಾರಿ ವಿಧ", collection: ValidType.where(entity_type: f.object.class.to_s), label_method: :rgnl_name %>
    <%= f.input :name, label: :title, label: "ಕಾಮಗಾರಿ ಟೈಟಲ್" %>
    <%= f.input :regional_name_value, placeholder: "ಕನ್ನಡದಲ್ಲಿ ಹೆಸರು", label: "ಕನ್ನಡದಲ್ಲಿ ಹೆಸರು", input_html: { value: (f.object.regional_name_name rescue "") } %>
    <%= f.input :fy, label: :financial_year, label: "ಹಣಕಾಸು ವರ್ಷ", as: :integer, input_html: {value: (f.object.fy || Date.today.year)}, required: true %>
    <%= f.input :desc, input_html: {style: "z-index: -1;"}, label: "ವಿವರಣೆ" %>
    <%= f.input :estimated_amount, label: 'ಅಂದಾಜು ಮೊತ್ತ' %>
    <%= f.input :sanctioned_amount, label: 'ಮಂಜೂರಾದ ಮೊತ್ತ' %>
    <%= f.association :department, label_method: :rgnl_name, label: 'ಇಲಾಖೆ' %>
    <%= f.association :entity_status, label: "ಹಾಲಿ ಸ್ಥಿತಿ", collection: EntityStatus.where(entity_type: f.object.class.to_s), label_method: :rgnl_name %>
    <%= f.input :foundation_date, as: :string, label: 'ಅಡಿಗಲ್ಲು ದಿನಾಂಕ' %>
    <%= f.input :inaugration_date, as: :string, label: 'ಉದ್ಘಾಟನೆ ದಿನಾಂಕ' %>
    <%= f.input :remarks, label: 'ಷರಾ'%>
    <hr />
    <%= render "shared/document_uploader", f: f %>
    <hr />
    <%= render "shared/image_uploader", f: f %>
    <hr />
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
<script type="text/javascript">
// Set autosuggest on this module
setPlaceSuggester("<%= places_suggest_path %>", "development_work");

$('#development_work_foundation_date').datepicker(dateConfig);
$('#development_work_inaugration_date').datepicker(dateConfig);

</script>
