<% @module_name = "ದೂರು/ಬೇಡಿಕೆ/ಸಲಹೆ" %>
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <%= link_to 'ಹೊಸ ದೂರು/ಬೇಡಿಕೆ/ಸಲಹೆ', new_feedback_path, remote: true, class: "btn btn-primary" %>
                  <hr />
          </div>
          <div class="card-body">
            <%= form_tag({},{method: :get}) do %>
            <div class="row">
              <div class="col-md-6 col-sm-12 align-self-center">
                <%= text_field_tag :search, params[:search], class: "input form-control", placeholder: "ನಾಗರಿಕರ ಪೋನ ನಂಬರಿನಿಂದ ಹುಡುಕು" %>
              </div>
              <div class="col-md-6 col-sm-12 my-2">
                <%= select_tag :status_id, options_from_collection_for_select(EntityStatus.where(entity_type: "Feedback"), "id", "rgnl_name", params[:status_id]), prompt: "ಹಾಲಿ ಸ್ಥಿತಿಯ ಮೇಲೆ ಕಾಮಗಾರಿ ಹುಡುಕು", class: "select form-control w-100" %>
              </div>
              <div class="col-md-6 col-sm-12 my-2">
                <%= select_tag :panchayat_id, options_from_collection_for_select(Panchayat.order(:name), "id", "rgnl_name", params[:panchayat_id]), prompt: "ಪಂಚಾಯತವಾರು ಕಾಮಗಾರಿ ಹುಡುಕು ", class: "select form-control w-100" %>
              </div>
              <div class="col-md-4 col-sm-12">
                <%= submit_tag :ಹುಡುಕು, class: "btn btn-warning btn-sm" %>
              </div>
            </div>
            <% end %>
            <hr />
            <div class="row">
              <div class="col">
                <center><h4><%= @feedbacks.count %> "ದೂರು/ಬೇಡಿಕೆ/ಸಲಹೆ"</h4></center>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>ಕ್ರಮ ಸಂಖ್ಯೆ</th>
                    <th>ಸ್ಥಳ</th>
                    <th>ದೂರು/ಬೇಡಿಕೆ/ಸಲಹೆ ವಿಧ</th>
                    <th>ಇಲಾಖೆ</th>
                    <th>ಟೈಟಲ್</th>
                    <th>ನಾಗರಿಕರ ಹೆಸರು/ಪೋನ ನಂಬರ</th>
                    <th>ತೆಗೆದುಕೊಂಡ ಕ್ರಮ</th>
                    <th>ಹಾಲಿ ಸ್ಥಿತಿ </th>
                    <th>ದಿನಾಂಕ</th>
                    <th>ಕ್ರಮಗಳು</th>
                  </tr>
                </thead>
                <tbody>
                  <% page = params[:page].present? ? (params[:page].to_i rescue 1) : 1 %>
                  <% @feedbacks.each_with_index do |feedback, ix| %>
                  <tr>
                    <td>
                      <%= (page -1) * 10 + (ix+1) %>
                    </td>
                    <td>
                      <%= feedback.place.panch_name rescue "Unassigned" %>
                    </td>
                    <td>
                      <%= feedback.feedback_type %>
                    </td>
                    <td>
                      <%= feedback.department.rgnl_name rescue "NA" %>
                    </td>
                    <td>
                      <%= feedback.name %>
                      <br />
                      <%= feedback.rgnl_name %>
                    </td>
                    <td>
                      <%= feedback.user.name_phone rescue "NA" %>
                    </td>
                    <td>
                      <%= feedback.action_taken %>
                    </td>
                    <td>
                      <%= feedback.entity_status.rgnl_name rescue "NA" %>
                    </td>
                    <td>
                      <%= feedback.created_at.strftime("%d-%m-%Y") %>
                    </td>
                    <td>
                      <div class="d-flex" role="group" %>
                        <%= link_to 'ಹೆಚ್ಚಿನ ವಿವರ', feedback, remote: true, class: "btn btn-sm btn-info m-2" %>
                        <%= link_to "ಎಡಿಟ್", edit_feedback_path(feedback), remote: true, class: "btn btn-sm btn-primary m-2" %>
                        <%= link_to 'ಡಿಲಿಟ್', feedback, method: :delete, data: { confirm: 'ನೀವು ಅಳಿಸಲು ಖಚಿತವಾಗಿ ಬಯಸುವಿರಾ??' }, class: "btn btn-sm btn-danger m-2" %>
                      </div>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <%= render "shared/modal", large: true %>
            </div>
          </div>
          <div class="card-footer align-self-center">
            <%= will_paginate @feedbacks, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          </div>
        </div>
      </div>
    </div>
  </div>
